# .NET Core
*.obj
*.exe
*.dll
*.pdb
*.user
*.dll
*.exe
*.pdb
*.log
*.vscode
bin/
obj/
out/

# Visual Studio files
.vs/
*.suo
*.ntvs*
*.nupkg
*.pfx
*.snk
*.cache
*.DS_Store

# Rider files
.idea/

# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet
packages/
*.nupkg
**/packages/*
!**/packages/repositories.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/bin
**/obj

# Resharper
_ReSharper*/
*.resharper
*.[Rr]e[Ss]harper

# Rider
.idea/
*.sln.iml
